<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RepoRadar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B116118D2D78F73300FA7437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B116119D2D78F73500FA7437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B11611A72D78F73500FA7437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
